@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
.top-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
    background-color: #2e026d;
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Sans-serif', sans-serif; /* Can change font if want */
  }

