@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
.top-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  background-color: amber-100;
  color: white;
  font-size: 36px;
  font-weight: bold;
  font-family: 'Sans-serif', sans-serif; /* Apply font-sans here */
}

.mission-text {
  text-align: left;
  padding: 20px;
  background-color: #amber-200;
  color: white;
  font-weight: bold;
  font-family: 'Sans-serif', sans-serif; 
} 